ion-toolbar {
    --ion-toolbar-background	: #075E54;
    --ion-toolbar-color: white;
}

ion-tab-bar{
    --ion-tab-bar-background:#075E54;
    --ion-tab-bar-color: white;
}

.line {
    align-items: center;
    margin: 1em ;
    border-collapse: collapse;
      
   
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 