<ion-header>
  <ion-toolbar >
    <ion-title>Trends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-tabs>
        <ion-tab-bar slot="bottom" >
          <ion-tab-button tab="userprofile"  [routerLink]="'/userprofile'">
            <ion-icon name="person-circle-outline"></ion-icon>
             <ion-label>Profile</ion-label>
           </ion-tab-button>
          <ion-tab-button tab="schedule"  [routerLink]="'/scheduler'">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="routine"  [routerLink]="'/routine'">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Routine</ion-label>
          </ion-tab-button>
       <ion-tab-button tab="sync" [routerLink]="'/sync'">
              <ion-icon name="sync-outline"></ion-icon>
              <ion-label>Sync</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="tag" [routerLink]="'/tags'">
                <ion-icon name="pricetag-outline"></ion-icon>
                <ion-label>Tag</ion-label>
              </ion-tab-button>
          <ion-tab-button tab="trends" [routerLink]="'/trends'">
            <ion-icon name="trending-up-outline"></ion-icon>
            <ion-label>Trends</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

      <ion-list-header color="light">Daily Routine Chart</ion-list-header>
      <ion-card class="welcome-card" style="width:100%; height: 42%">
        <ion-card-header>
          <ion-card-subtitle>Number of activity per day</ion-card-subtitle>
          <ion-card-title>Routine</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChart></canvas>
        </ion-card-content>
      </ion-card>

     
      <img src="assets/fitbit.PNG">
  

</ion-content>
