<ion-header>
  <ion-toolbar>
    <ion-title>DashBoard </ion-title> <ion-label *ngIf="data1"  slot="end" >Welcome  {{data1.firstName}} </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

    
    
    
    <ion-tabs >
      
        <ion-tab-bar slot="bottom" >
          <ion-tab-button tab="userprofile"  [routerLink]="'/userprofile'">
            <ion-icon name="person-circle-outline"></ion-icon>
             <ion-label>Profile</ion-label>
           </ion-tab-button>
          <ion-tab-button tab="schedule"  [routerLink]="'/scheduler'">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Schedule</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="routine"  [routerLink]="'/routine'">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Routine</ion-label>
          </ion-tab-button>
       <ion-tab-button tab="sync" [routerLink]="'/sync'">
              <ion-icon name="sync-outline"></ion-icon>
              <ion-label>Sync</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="tag" [routerLink]="'/tags'">
                <ion-icon name="pricetag-outline"></ion-icon>
                <ion-label>Tag</ion-label>
              </ion-tab-button>
          <ion-tab-button tab="trends" [routerLink]="'/trends'">
            <ion-icon name="trending-up-outline"></ion-icon>
            <ion-label>Trends</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
      
      <ion-item>
          <ion-label> {{today | date:'EEE, MMM d, y'}}  </ion-label>
        </ion-item>

        <div>
          &nbsp;
        </div>
<ion-label style="font-size:20px; font-weight:bold; padding-left:20px;"> Upcoming Activites</ion-label>
        <table style="border-collapse: collapse;
        width: 100%;margin-top:20px;">
        <thead style="padding-top: 16px;
        padding-bottom: 16px;
        text-align: left;
        background-color: #f2f2f2;
        color: black; height:90px; width:70px; font-size:18px;">
            <tr>
                <th style="padding-left:10px;">Time </th>
                <th>Routine</th>
              
                
            </tr>
            </thead>
            <tbody style=" border: 1px solid #ddd;
            padding: 8px;">
           <tr *ngFor="let t of routineUpcomingData;">
            <td> <ion-input id="routineId"  disabled type="text" value={{t.routineName}} ></ion-input></td>
            <td><ion-input id="routineTime"   disabled type="text" value="{{t.startDate}}"></ion-input>
            
            </td>
          
           
        </tr>
            
            </tbody>
        </table>

        <div>&nbsp; &nbsp;&nbsp;</div>
        <div>&nbsp; &nbsp;&nbsp;</div>
        <div>&nbsp; &nbsp;&nbsp;</div>
        <div>&nbsp; &nbsp;&nbsp;</div>
        <div>&nbsp; &nbsp;&nbsp;</div>
      <!--<div style="padding-left:400px; margin-top:200px; ">
     <ion-icon style="background-repeat: no-repeat;
     background-size: 10px;
     width: 60px;
     height: 60px;" [routerLink]="'/events'"name="add-circle-outline"></ion-icon>
    </div>

  <ion-item>
            <ion-icon style="background-repeat: no-repeat;
            background-size: 10px;
            width: 60px;
            height: 60px;" [routerLink]="'/events'"name="add-circle-outline"></ion-icon>
    </ion-item>-->

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="margin-bottom:90px;">
            <ion-fab-button  [routerLink]="'/events'" color="danger">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
   


</ion-content>
